name: Node.js CI
on:   
  push:
    branches: [ "main" , "develop"]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Use Node.js 
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run all test
        run: npm test
        env:
          REDIS_URL: ${{secrets.REDIS_URL}}

      - name: Run eslint
        run: npm run lint -- --fix